body {
    background-color: #0F98B7;
}

#login {
    border: solid black 2px;
    background-color: white;
    width: 246px;
    display: grid;
    margin-top: 100px;
    padding-top: 19px;
    padding-bottom: 12px;
}

#signup {
    border: solid black 2px;
    display: inline-block;
    background-color: white;
    margin-top: 10px;
    width: 246px;
    display: grid;
}

#forms {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}

#center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

h2 {
    text-align: center;
}

img {
    border: solid black 2px;
    margin-top: 100px;
    height: 396px;
    width: 336px;
}

.signuptexts {
    float: right;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 140px;
}

.logintexts {
    float: right;
    margin-top: 1px;
    margin-bottom: 1px;
}

.button {
    margin-top: 4px;
    width: 60px;
}